<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars Table</title>
</head>
<style>
    table {
        width: 50%;
        margin: 20px auto;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }
    th {
        background-color: #f4f4f4;
    }
</style>
<body>
    <table id="cars_table">
        <thead>
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Price</th>
        </tr>
        </thead>
        <tr th:each="car : ${cars}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.price}"></td>
        </tr>
    </table>
</body>
</html>